<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div class="container" style="padding: 10px">
  <div class="row">
    <div class="col-sm-3">
        <h1 style="margin-bottom: 20px;">Contacts</h1>
        <button class="newC" (click)="createPopup()">New Contact</button>
        <hr style="margin-top: 15px; margin-bottom: 15px;" />
        <button class="contacts" (click)="getAllContacts()">Contacts</button>
        <hr style="margin-top: 15px; margin-bottom: 15px;" />

        <h2>Tags</h2>
        <ul style="margin-left:-55px;">
          <li id="lista" *ngFor="let t of tags">
            <div style="margin-top:5px;" class="hover-cursor list-group-item-action flex-column align-items-start" (click)="filterTag(t)">
              <div class="col-sm-10">
                <div class="media">
                  <i class="fa fa-battery-empty align-self-center col-sm-3" style="color:silver" aria-hidden="true"></i>
                  <h5 class="align-self-center col-sm-10" style="margin-left:-10px;">{{t.tagName}}<span style="font-size:small"> ({{t.contactTags.length}})</span></h5>
                  <i class="fa fa-paint-brush align-self-center" aria-hidden="true" style="color: gainsboro;" (click)="updateTag(t);$event.stopPropagation()"></i>
                  <i class="hover-cursor fa fa-trash align-self-center" aria-hidden="true" style="color:gainsboro; margin-left: 10px;" (click)="deleteTag(t);$event.stopPropagation()"></i>

                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="row">
          <input type="text" id="tagInput" placeholder="Tag name" style="margin-left:20px; width:70%"/>
          <button class="newC" style="padding: 5px;" (click)="addTag()">+</button>
        </div>
    </div>
    <div class="col-sm-9" style="margin-top:14px;">
      <div class="row">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <div class="container">
          <br />
          <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
              <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                  <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                  </div>
                  <!--end of col-->
                  <div class="col">
                    <input id="searchFilter" class="form-control form-control-lg form-control-borderless" (input)="onSearchChange($event.target.value)" type="search" placeholder="Search name or last name">
                  </div>
                  <!--end of col-->
                </div>
              </form>
            </div>
            <!--end of col-->
          </div>
        </div>
      </div>

      <div class="col-sm-10" style="margin-top: 34px;">
        <div *ngIf="(!showTags)" class="media">
          <h6 class="align-self-center col-sm-5" style="margin-left:80px;">Full Name</h6>
          <h6 class="align-self-center col-sm-3" style="margin-left: 10px;">Adress</h6>
          <h6 class="align-self-center col-sm-5" style="margin-left: 15px;">Phone Number</h6>
        </div>

        <div *ngIf="(showTags)">
          <ul class="row">
            <li id="lista" *ngFor="let t of tags">
              <button (click)="addSelected(t)" class="contacts" style="margin-left:3px;" id="{{t.tagId}}">+ {{t.tagName}}</button>
            </li>
          </ul>
        </div>

      </div>

      <hr style="margin-top: 5px; margin-bottom: 15px;" />
      <h6 style="margin-left:20px;">{{currShow}} ({{contacts.length}})</h6>
      <div class="list-group">
        <ul>
          <li id="lista" *ngFor="let c of contacts">
            <div style="margin-top:3px;" class="hover-cursor list-group-item list-group-item-action flex-column align-items-start" (click)="viewContact(c)">
              <div class="col-sm-10">
                <div class="media">
                  <input style="margin-left: -15px; margin-right: 10px;" name={{c.contactId}} type="checkbox" id="{{c.contactId}}" (click)="check();$event.stopPropagation()" class=" align-self-center">
                  <h3 style="margin-right: -13px;" class="align-self-center col-sm-6">{{c.name}} {{c.lastName}}</h3>
                  <h5 class="align-self-center col-sm-4">{{c.adress}}</h5>
                  <h6 *ngIf="(c.numbers?.length)" class="align-self-center col-sm-4">{{c.numbers[0].phoneNumber}}</h6>
                  <span *ngIf="(!c.numbers?.length)" class="align-self-center col-sm-4"></span>
                  <i class="fa fa-paint-brush align-self-center" aria-hidden="true" style="color: cornflowerblue;" (click)="updatePopup(c);$event.stopPropagation()"></i>
                  <i class="hover-cursor fa fa-trash align-self-center" aria-hidden="true" style="color: red; margin-left: 15px;" (click)="deleteContact(c);$event.stopPropagation()"></i>

                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
