<div style="margin-top:10px; text-align:center">
    <h5 style="font-weight: bold;">Contact</h5><br />

    <input type="text" id="name" name="name" placeholder="Name"><br>
    <input type="text" id="lastName" name="lastName" placeholder="Last name"><br>
    <input type="text" id="adress" name="adress" placeholder="Adress"><br>

    <input class="btn btn-outline-success waves-effect" type="submit" value="Submit Advert" (click)="onSubmit()" style="margin-right:30px;">
    <input (click)="onClose()" class="btn btn-outline-danger waves-effect" type="submit" value="Cancel">
</div>
